html, body {
    width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: 'Nunito Sans', BlinkMacSystemFont, -apple-system, Roboto, "Noto Sans TC", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 16px;
    background-color: rgb(250, 250, 250);
    height: 100vh;
    margin: 0;
}

.container {
    flex-direction: column;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    position: absolute;
    width: 100%;
    flex-direction: row;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 4px 4px rgba(33, 37, 41, .2);
    height: 50px;
    left: 0px;
    top: 0px;
    z-index: 1;

}

.nav-item {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin: auto 1.5em;
    font-size: 1.1em;
    color: rgba(33, 37, 41, .9);
    text-transform: uppercase;
}

.nav .logo-title {
    font-weight: 700;
    color: rgba(33, 37, 41, .7);
}

.nav .social-icon i {
    margin: auto .25em;
    font-size: 1.2em;
    color: rgba(33, 37, 41, .7);
}

.nav .nav-item a {
    text-decoration: none;
}

.nav .nav-item a:hover {
    background: none;

}

a {
    color: inherit;
}

a:hover {
    color: rgba(33, 37, 41, 1);
    background: #84dccf;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

.row {
    width: 100%;
    margin: auto;
}


section {
    width: 100%;
    margin: 10em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hl {
    width: 75px;
    border-bottom: 10px solid rgba(33, 37, 41, .9);
}

section .graphic {
    width: 70%;
    height: 30vw;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1em 1em;
    background-color: rgb(250, 250, 250);
}

.graphic .col-2 {
    width: 50%;
    box-sizing: border-box;
}

.graphic .col-2 .graphic-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.graphic .col-2 .chart {
    display: block;
    width: auto;
    max-height: 10em;
}

.graphic-text h4 {
    margin-right: .2em;
    font-weight: 500;
    font-size: 1em;
    line-height: 180%;
    color: rgba(33, 37, 41, .9);
}

.graphic-text p {
    margin-right: .2em;
    text-align: left;
    font-weight: 400;
    font-size: 1em;
    line-height: 180%;
    color: rgba(33, 37, 41, .9);
}

.graphic-text i {
    padding-right: 5px;
}

.graphic img {
    width: 90%;
    height: auto;
}

.graphic .chart {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 21/9;
}

section .item {
    display: flex;
    flex-flow: row wrap;
}

section h2 {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    line-height: 140%;
    padding-top: .8em;
    font-weight: 500;
    font-size: 3em;
    color: rgba(33, 37, 41, .9);
}

section h3 {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    line-height: 140%;
    padding-top: 1em;
    padding-bottom: .3em;
    font-weight: 500;
    font-size: 1.8em;
    color: rgba(33, 37, 41, .9);
}

.paragraph-text p, .paragraph-text li {
    text-align: left;
    margin: auto 0;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 180%;
    padding-top: 1.5em;
    color: rgba(33, 37, 41, .9);
}

.paragraph-text h4 {
    text-align: left;
    margin: auto 0;
    padding-top: 1.5em;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 180%;
    color: rgba(33, 37, 41, .9);
}

section .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}


.sub-nav-item h3 {
    padding-top: 0;
    margin: 0 auto;
}

span .highlight {
    background: #84dccf;;
}

ul {
    list-style-type: square;
}


section .item h2 span {
    background: rgba(242, 242, 242, 1);
    padding: 1em 25px .8em 0;
}

section .item p {
    padding: 0 25px .3em 0;
    margin: 0 0;
    text-align: left;
    line-height: 150%;
    font-weight: 400;
    font-size: 1.1em;
    color: rgba(33, 37, 41, .9);
}

.divider {
    margin-bottom: 3em;
    width: 100%;
    border-bottom: 1px solid rgba(33, 37, 41, .9);
}

footer {
    clear: both;
    position: relative;
    min-height: 50px;
    margin-top: auto;
    text-align: center;
}

footer p {
    font-weight: 400;
    font-size: .8em;
    color: rgba(33, 37, 41, .4);
    line-height: 140%;

}


@media (min-width: 768px) and (max-width: 1079px) {
    .intro {
        width: 100%;
        margin: auto;
    }

    .container {
        width: 100%;
        margin: auto;
    }

    .section {
        width: 100%;
        margin: auto;
    }

}

@media (min-width: 375px) and (max-width: 767px) {
    .intro {
        width: 100%;
        margin: 0 auto;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .section {
        width: 100%;
        margin: 0 auto;
    }

    canvas {
        width: 100%;
    }
}